@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap");

@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --_size: 1.6rem;
  --_font-default: "Inter","Urbanist", sans-serif;
  --_font-accent: "Inter","Urbanist", sans-serif;
  --_radius: 2rem;
  --_radius-s: 1rem;
  --_animspeed-fast: 0.1s;
  --_animspeed-medium: 0.3s;
  --_animspeed-slow: 0.6s;
  --_animbezier: cubic-bezier(0.23, 0.65, 0.74, 1.09);

  /* light color scheme */
  --base--light: #babec8;
  --base-rgb--light: 186, 190, 200;
  --base-shade--light: #989ba3;
  --base-tint--light: #d8dde7;
  --stroke-controls--light: #2c2e34;
  --stroke-elements--light: #8f93a1;
  --font-weight-base--light: 400;
  --font-weight-medium--light: 600;
  --t-bright--light: #151617;
  --t-medium--light: #44474a;
  --t-muted--light: #797d83;
  --t-opp-bright--light: #f2f5fc;
  --t-opp-medium--light: #aeb5c5;
  --t-opp-muted--light: #3e4045;
  --neutral-bright--light: #000000;

  /* dark color scheme */
  --base--dark: #141414;
  --base-rgb--dark: 20, 20, 20;
  --base-shade--dark: #000000;
  --base-tint--dark: #242424;
  --stroke-controls--dark: #f2f5fc;
  --stroke-elements--dark: #535762;
  --font-weight-base--dark: 300;
  --font-weight-medium--dark: 500;
  --t-bright--dark: #f2f5fc;
  --t-medium--dark: #aeb5c5;
  --t-muted--dark: #505258;
  --t-opp-bright--dark: #151617;
  --t-opp-medium--dark: #313437;
  --t-opp-muted--dark: #797d83;
  --neutral-bright--dark: #ffffff;

  /* permanent colors */
  --per-base: #141414;
  --t-per-bright-light: #f2f5fc;
  --t-per-medium-light: #aeb5c5;
  --t-per-muted-light: #3e4045;
  --t-per-bright-dark: #151617;
  --t-per-medium-dark: #313437;
  --t-per-muted-dark: #797d83;
  --per-stroke-controls: #f2f5fc;
  --per-stroke-elements: #8f93a1;

  /* neutral colors */
  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --neutral-gray: #878787;
  --neutral-gray-dark: #404040;
}

/* defaults */
@media (prefers-color-scheme: light) {
  :root {
    --base: var(--base--light);
    --base-rgb: var(--base-rgb--light);
    --base-shade: var(--base-shade--light);
    --base-tint: var(--base-tint--light);
    --stroke-controls: var(--stroke-controls--light);
    --stroke-elements: var(--stroke-elements--light);
    --font-weight-base: var(--font-weight-base--light);
    --font-weight-medium: var(--font-weight-medium--light);
    --t-bright: var(--t-bright--light);
    --t-medium: var(--t-medium--light);
    --t-muted: var(--t-muted--light);
    --t-opp-bright: var(--t-opp-bright--light);
    --t-opp-medium: var(--t-opp-medium--light);
    --t-opp-muted: var(--t-opp-muted--light);
    --neutral-bright: var(--neutral-bright--light);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --base: var(--base--dark);
    --base-rgb: var(--base-rgb--dark);
    --base-shade: var(--base-shade--dark);
    --base-tint: var(--base-tint--dark);
    --stroke-controls: var(--stroke-controls--dark);
    --stroke-elements: var(--stroke-elements--dark);
    --font-weight-base: var(--font-weight-base--dark);
    --font-weight-medium: var(--font-weight-medium--dark);
    --t-bright: var(--t-bright--dark);
    --t-medium: var(--t-medium--dark);
    --t-muted: var(--t-muted--dark);
    --t-opp-bright: var(--t-opp-bright--dark);
    --t-opp-medium: var(--t-opp-medium--dark);
    --t-opp-muted: var(--t-opp-muted--dark);
    --neutral-bright: var(--neutral-bright--dark);
  }
}
[color-scheme="light"] {
  --base: var(--base--light);
  --base-rgb: var(--base-rgb--light);
  --base-shade: var(--base-shade--light);
  --base-tint: var(--base-tint--light);
  --stroke-controls: var(--stroke-controls--light);
  --stroke-elements: var(--stroke-elements--light);
  --font-weight-base: var(--font-weight-base--light);
  --font-weight-medium: var(--font-weight-medium--light);
  --t-bright: var(--t-bright--light);
  --t-medium: var(--t-medium--light);
  --t-muted: var(--t-muted--light);
  --t-opp-bright: var(--t-opp-bright--light);
  --t-opp-medium: var(--t-opp-medium--light);
  --t-opp-muted: var(--t-opp-muted--light);
  --neutral-bright: var(--neutral-bright--light);
}

[color-scheme="dark"] {
  --base: var(--base--dark);
  --base-rgb: var(--base-rgb--dark);
  --base-shade: var(--base-shade--dark);
  --base-tint: var(--base-tint--dark);
  --stroke-controls: var(--stroke-controls--dark);
  --stroke-elements: var(--stroke-elements--dark);
  --font-weight-base: var(--font-weight-base--dark);
  --font-weight-medium: var(--font-weight-medium--dark);
  --t-bright: var(--t-bright--dark);
  --t-medium: var(--t-medium--dark);
  --t-muted: var(--t-muted--dark);
  --t-opp-bright: var(--t-opp-bright--dark);
  --t-opp-medium: var(--t-opp-medium--dark);
  --t-opp-muted: var(--t-opp-muted--dark);
  --neutral-bright: var(--neutral-bright--dark);
}

/* ------------------------------------------------*/
/* Basic Styles Start */
/* ------------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background-color: var(--base-tint);
  color: var(--t-medium);
  text-shadow: none;
}

::selection {
  background-color: var(--base-tint);
  color: var(--t-medium);
  text-shadow: none;
}

::-webkit-scrollbar {
  display: none;
  width: 6px;
  background: var(--base-shade);
}
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

::-webkit-scrollbar-track {
  background-color: var(--base-shade);
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-tint);
  border-radius: var(--_radius-s);
}


html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 0.01em;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}

/* Headings
------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 500;
  color: inherit;
}
h1 {
  font-size: 44px;
  line-height: 50px;
  letter-spacing: -0.0141279em;
}
h2 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.021em;
}
h3 {
  font-size: 27px;
  line-height: 35px;
  letter-spacing: -0.0114923em;
}
h4 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.00865734em;
}
h5 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.00630069em;
}
h3 small,
h4 small,
h5 small {
  font-weight: 300;
}
h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-bottom: 10px;
}